NUXT_STORE_URL=https://speedcubeshop.com
NUXT_COLLECTION_HANDLE=3x3-speed-cubes
NUXT_MAX_PAGES=40
NUXT_PUBLIC_STORE_NAME=SpeedCubeShop
# Currency of the collection JSON prices; no currency conversion is performed.
NUXT_PUBLIC_CURRENCY=USD
# Set to 0 to disable automatic refresh.
NUXT_PUBLIC_REFRESH_SECONDS=300
NUXT_PUBLIC_LOW_STOCK_THRESHOLD=5
